html {
    box-sizing: border-box;
}
*, *:before,*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, serif;
}
header {
    padding: 20px 0;
}
.contenedor {
    margin: 0 auto;
    width: 1200px;
}
/* Navegacion */
.navegacion {
    background-color: #db008d;
}
nav {
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
nav ul {
    list-style: none;
}
nav > ul > li {
    float: left;
}
nav ul::after {
    content: '';
    display: block;
    clear: both;
}
nav ul li a {
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
nav ul li a:hover {
    background-color: #00b8e4;
}
/* Segundo nivel de navegacion */
nav ul ul {
    background-color: rgba(0, 184, 228, 0.7);
    display: none;
    position: absolute;
    top: 100%;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover {
    background-color: rgba(0, 184, 228, 0.7);
}
/* Contenido principal */
.contenido::after {
    content: '';
    display: block;
    clear: both;
}
main {
    float: left;
    padding-right: 40px;
    width: 70%;
}
/* Entradas de posts */
article {
    margin-top: 30px;
}
h2 {
    color: #00b8e4;
    margin-bottom: 18px;
}
article img {
    float: left;
    margin-right: 30px;
    width: 300px;
}
article p {
    line-height: 2;
    text-align: justify;
}
.boton {
    background-color: #00b8e4;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px; 
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;

}
/* sidebar */
aside {
    float: right;
    margin-top: 30px;
    width: 30%;
}
aside ul {
    list-style: none;
}
aside ul li {
    padding: 10px 0 10px 10px;
}
aside ul li:hover {
    background-color: #00b8e4;
    cursor: pointer;
}
aside ul li a {
    color: #00b8e4;
    text-decoration: none;
}
aside ul li:hover a {
    color: #ffffff;
}
/* Footer */
footer {
    background-color: #db008d;   
    margin-top: 30px;
    padding-top: 30px; 
}
footer h2 {
    color: #ffffff;
}
footer .contenedor::after {
    content: '';
    display: block;
    clear: both;
}
footer .nosotros {
    color: #ffffff;
    float: left;
    width: 30%;
}
footer .menu {
    float: right;
    text-align: right;
    width: 40%;
}
footer nav {
    width: auto;
}
footer nav ul li a {
    width: auto;
}
.copyright {
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

